doctype 5
html
  head
    title= 'chatroom'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chatroom.css')
    link(rel='stylesheet', href='/stylesheets/jquery.cssemoticons.css')
    script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    script( src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js")
    script( src="/javascripts/slimScroll.jquery.js")
    script( src="/javascripts/jquery.cssemoticons.js")
    script( src="/socket.io/socket.io.js")
    script( src="/javascripts/script.js")
    
  body
    block content
    
